.top-nav__main-menus>li:nth-child(1) {
    background:#333;
    border-top-left-radius:4px
  }

  .top-nav__main-menus>li:nth-child(1)>ul {
    background:#333
  }

.top-nav__main-menus>li:nth-child(2),
.top-nav__main-menus>li:nth-child(2)>ul {
  background:#454545
}

.top-nav__main-menus>li:nth-child(3),
.top-nav__main-menus>li:nth-child(3)>ul {
  background:#525252
}

.top-nav__main-menus>li:nth-child(4),
.top-nav__main-menus>li:nth-child(4)>ul {
  background:#636363
}

.top-nav__main-menus>li:nth-child(4)>ul {
    background:#636363
  }

.top-nav__main-menus>li:nth-child(5),
.top-nav__main-menus>li:nth-child(5)>ul {
  background:#747474
}